---
layout: layouts/base.njk
---


<div class="header-container">
<h1>Mag Pi</h1>


<p>collecting shiny thoughts</p>

<img src="../public/img/magpi.webp" alt="a magpi collecting math in its nest" class="header-image">


</div>
{{ content | safe }}
